{
    "WOLVESVILLE_TOKEN": "AUTO FILLED",
    "WOLVESVILLE_CF_JWT": "AUTO FILLED",
    "BOT_USERNAME": "YOUR_BOT_USERNAME (the only thing you have to change)",
    "GAME_MODE": "custom",
    "BUILD_VERSION": 79,
    "DEVICE_ID": "null"
}
