{
    "WOLVESVILLE_TOKEN": "YOUR_FIREBASE_TOKEN_HERE",
    "WOLVESVILLE_CF_JWT": "YOUR_CLOUDFLARE_JWT_HERE",
    "BOT_USERNAME": "YOUR_BOT_USERNAME",
    "GAME_MODE": "custom",
    "BUILD_VERSION": 79,
    "DEVICE_ID": "null"
}
